name: Deploy to Cloud Run

on:
  push:
    branches:
      - master
      - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: europe-west1
  SERVICE_NAME: stripe-cebelca-sync

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: fokus

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Google Auth
      id: auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Deploy to Cloud Run
      uses: google-github-actions/deploy-cloudrun@v2
      with:
        service: ${{ env.SERVICE_NAME }}
        region: ${{ env.REGION }}
        source: .
        env_vars: |
          STRIPE_API_KEY=${{ secrets.STRIPE_API_KEY }}
          STRIPE_WEBHOOK_SECRET=${{ secrets.STRIPE_WEBHOOK_SECRET }}
          CEBELCA_API_KEY=${{ secrets.CEBELCA_API_KEY }}
          CEBELCA_APP_NAME=${{ secrets.CEBELCA_APP_NAME }}
